@import '../../theme/colors-theme.scss';
@import '../../styles/effect-style.scss';

.account-badge-wrap {
  display: inline-block;

  .account-badge {
    border-radius: 24px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      @extend .block-shadow;
      background-color: $im-background;
    }

    .account-name {
      color: $im-unaccent;
      margin-left: 1rem;
      margin-right: .75rem;
    }
  
    img {
      border-radius: 50%;
    }
  }
}