$font-size-header: 3rem;
$font-size-title: 1.5rem;
$font-size-title2: 1.25rem;
$font-size-subtitle: 1.125rem;
$font-size-content: .875rem;
$font-size-footnote: .75rem;


.font-size-header {
  font-size: $font-size-header;
}

.font-size-title {
  font-size: $font-size-title;
}

.font-size-title2 {
  font-size: $font-size-title2;
}

.font-size-subtitle {
  font-size: $font-size-subtitle;
}

.font-size-content {
  font-size: $font-size-content;
}

.font-size-footnote {
  font-size: $font-size-footnote;
}
// 48, 24. 20, 18, 14, 12