.wrap {
  max-width: 1320px;
  padding: 0 0.75rem 3rem 132px;

  .result {
    position: relative;
    top: -72px;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-right: 1.5rem;
    z-index: 6;

    .searchfield {
      padding-bottom: 24px;
    }

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - 96px);
    }
  }

  .saved {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-left: 1.5rem;
  }
}