@import '../../../../styles/color-style.scss';

.im-idea-node-wrap {
  border-radius: .5rem;
  padding: .75rem 1rem;

  .selected & {
      outline: 2px solid $im-secondary;
    }

  &.w {
      background-color: $im-background;
    }
  
  &.p {
    background-color: $im-content-purple;
  }

  &.g {
    background-color: $im-content-green;
  }

  &.b {
    background-color: $im-content-blue;
  }

  &.r {
    background-color: $im-content-red;
  }
}

.im-text-idea-node {
  .im-text-idea__label-wrap {
    display: -webkit-box;
    max-width: 360px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1;
  }
}

.im-link-idea-node {
  .im-link-idea__link-wrap {
    line-height: 1;

    .im-link-idea__url {
      display: -webkit-inline-box;
      max-width: 320px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .im-link-idea__icon {
      display: inline-block;
      margin-left: .75rem;
      vertical-align: top;
    }
  }
}

.im-image-idea-node {
  padding: .5rem;

  .im-image-idea__image-wrap {
    max-width: 150px;

    img {
      aspect-ratio: 1 / 1;
      width: 100%;
      object-fit: cover;
    }
  }
}

.im-sm-note-node {
  .im-sm-note__note-wrap {
    line-height: 1;

    .im-sm-note__icon {
      display: inline-block;
      margin-right: .75rem;
      vertical-align: top;
    }

    .im-sm-note__note {
      display: -webkit-inline-box;
        max-width: 320px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
  }
}

// .react-flow__handle {
//   opacity: 0;
// }