@import '../../styles/color-style.scss';
@import '../../styles/effect-style.scss';

.picker {
  @extend .block-border;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  &.w {
    background-color: $im-background;
  }

  &.p {
    background-color: $im-content-purple;
  }

  &.g {
    background-color: $im-content-green;
  }

  &.b {
    background-color: $im-content-blue;
  }

  &.r {
    background-color: $im-content-red;
  }

  &:not(:last-of-type) {
    margin-right: .5rem;
  }

  &:hover {
    // outline: 2px $im-danger solid;
    box-shadow: 0 0 0 2px $im-secondary-alpha;
  }

  &:active {
    box-shadow: 0 0 0 2px $im-secondary;
  }

  &.active {
    box-shadow: 0 0 0 2px $im-secondary;
  }
}